footer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:50px 0 0 0;
  gap:60px;
 
}
.container{
  width: 100%;
  max-width:1200px;
  display: flex;
  justify-content:space-around;
  gap: 20px;
}
a{
  text-decoration: none;
}

ul{
  list-style:none;
}
.footer-left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-center, .footer-right{
  display: flex;
  flex-direction: column;
  gap:10px;
}

.links{
  display: flex;
  flex-direction: column;
  align-items: start;
  padding:0;
  max-height: 20%;
}


h3{
  color: rgb(239,97,125);
  color:linear-gradient(90deg, rgba(239,97,125,1) 0%, rgba(223,33,102,1) 100%);
}

.social-links i{
  color: rgb(239,97,125);
  color:linear-gradient(90deg, rgba(239,97,125,1) 0%, rgba(223,33,102,1) 100%);
}
